# Virtual environment
venv/

# Data and models (too large / not meant for git)
data/
#models/

# Secrets
.env

# Python cach
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# OS junk files
.DS_Store
Thumbs.db